<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#nav-collapsible-section">
        <span class="glyphicon glyphicon-menu-hamburger">
      </button>

      <a class="navbar-brand" href="/">
      <span class="glyphicon glyphicon-home"></span>
      </a>

    </div>

    <div class="navbar-collapse collapse" id="nav-collapsible-section">
      <ul class="nav navbar-nav">
      <li><a href="/quiz">Quiz</a></li>
      </ul>



    </div>

  </div>
</nav>
